App_WebReferences/itemHistoryService/itemHistoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="itemHistoryList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="partKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chanelKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="evenKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="itemHistoryListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemHistoryListResult" type="tns:itemHistoryDataList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="itemHistoryDataList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="itemHistoryDataListResult">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="itemHistoryListResult" type="tns:ArrayOfItemHistoryDataListResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItemHistoryDataListResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="itemHistoryDataListResult" nillable="true" type="tns:itemHistoryDataListResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="itemHistoryDataListResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="itemCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="itemName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="expireDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="getItemDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="itemDesc" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getTimeDiffSeconds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="evenKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTimeDiffSecondsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTimeDiffSecondsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="itemHistoryListSoapIn">
    <wsdl:part name="parameters" element="tns:itemHistoryList" />
  </wsdl:message>
  <wsdl:message name="itemHistoryListSoapOut">
    <wsdl:part name="parameters" element="tns:itemHistoryListResponse" />
  </wsdl:message>
  <wsdl:message name="getTimeDiffSecondsSoapIn">
    <wsdl:part name="parameters" element="tns:getTimeDiffSeconds" />
  </wsdl:message>
  <wsdl:message name="getTimeDiffSecondsSoapOut">
    <wsdl:part name="parameters" element="tns:getTimeDiffSecondsResponse" />
  </wsdl:message>
  <wsdl:portType name="itemHistoryServiceSoap">
    <wsdl:operation name="itemHistoryList">
      <wsdl:input message="tns:itemHistoryListSoapIn" />
      <wsdl:output message="tns:itemHistoryListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTimeDiffSeconds">
      <wsdl:input message="tns:getTimeDiffSecondsSoapIn" />
      <wsdl:output message="tns:getTimeDiffSecondsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="itemHistoryServiceSoap" type="tns:itemHistoryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="itemHistoryList">
      <soap:operation soapAction="http://tempuri.org/itemHistoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTimeDiffSeconds">
      <soap:operation soapAction="http://tempuri.org/getTimeDiffSeconds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="itemHistoryServiceSoap12" type="tns:itemHistoryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="itemHistoryList">
      <soap12:operation soapAction="http://tempuri.org/itemHistoryList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTimeDiffSeconds">
      <soap12:operation soapAction="http://tempuri.org/getTimeDiffSeconds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="itemHistoryService">
    <wsdl:port name="itemHistoryServiceSoap" binding="tns:itemHistoryServiceSoap">
      <soap:address location="http://localhost:3563/ServiceitemHistory/itemHistoryService.asmx" />
    </wsdl:port>
    <wsdl:port name="itemHistoryServiceSoap12" binding="tns:itemHistoryServiceSoap12">
      <soap12:address location="http://localhost:3563/ServiceitemHistory/itemHistoryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>